**List assignment**

function for taking numerical input to a list

In [ ]:
def input_list(l):
  while True:
    num=input("enter a number to list enter 's' to stop: ")
    if(num=='s' or num=='S'):
      break
    try:
      l.append(int(num))
    except:
      try:
        l.append(float(num))
      except:
        pass

question-1

In [ ]:
l=[]
sum=0
input_list(l)
for i in l:
  sum+=i
print("sum of entered numbers in list is {}".format(sum))

enter a number to list enter 's' to stop: 1
enter a number to list enter 's' to stop: 2
enter a number to list enter 's' to stop: 3
enter a number to list enter 's' to stop:
enter a number to list enter 's' to stop: 4
enter a number to list enter 's' to stop: 5
enter a number to list enter 's' to stop: 6.2
enter a number to list enter 's' to stop: 7
enter a number to list enter 's' to stop: s
sum of entered numbers in list is 28.2

question-2

In [ ]:
l=[]
product=1
input_list(l)
for i in l:
  product*=i
print("product of entered numbers in list is {}".format(product))

enter a number to list enter 's' to stop: 1
enter a number to list enter 's' to stop: 2
enter a number to list enter 's' to stop: 3
enter a number to list enter 's' to stop: 4
enter a number to list enter 's' to stop: 5
enter a number to list enter 's' to stop: s
product of entered numbers in list is 120

question-3

In [ ]:
l=[]
input_list(l)
min=l[0]
for i in l:
  if min> i:
    min=i
print("minimum number in list is {}".format(min))

enter a number to list enter 's' to stop: 1
enter a number to list enter 's' to stop: 2
enter a number to list enter 's' to stop: 2
enter a number to list enter 's' to stop: 3
enter a number to list enter 's' to stop: 7.3
enter a number to list enter 's' to stop: -1
enter a number to list enter 's' to stop: s
minimum number in list is -1

question-4

In [ ]:
l=[]
input_list(l)
max=l[0]
for i in l:
  if max < i:
    max=i
print("maximum number in list is {}".format(max))

enter a number to list enter 's' to stop: 1
enter a number to list enter 's' to stop: 2
enter a number to list enter 's' to stop: 3
enter a number to list enter 's' to stop: 5.3
enter a number to list enter 's' to stop: 3.4
enter a number to list enter 's' to stop: 1111.3
enter a number to list enter 's' to stop: s
maximum number in list is 1111.3

question-5

In [ ]:
l=[]
input_list(l)
l.sort()
length=len(l)-1
ans=l[length-1]
print("the second largest number  in list is {}".format(ans))

enter a number to list enter 's' to stop: 1
enter a number to list enter 's' to stop: 2
enter a number to list enter 's' to stop: 3
enter a number to list enter 's' to stop: 4.2
enter a number to list enter 's' to stop: 5.3
enter a number to list enter 's' to stop: 9
enter a number to list enter 's' to stop: s
the second largest number  in list is 5.3

question-6

In [ ]:
l=[]
input_list(l)
l.sort()
l.reverse()
n=int(input("enter n value : "))
if(n>=len(l)):
  print("entered wrong number")
else:
  print("{} greatest numbers are: \n".format(n))
  for i in range(n):
    print(l[i])

enter a number to list enter 's' to stop: 2
enter a number to list enter 's' to stop: 4
enter a number to list enter 's' to stop: 5
enter a number to list enter 's' to stop: 6
enter a number to list enter 's' to stop: 5
enter a number to list enter 's' to stop: 4
enter a number to list enter 's' to stop: 3
enter a number to list enter 's' to stop: 6
enter a number to list enter 's' to stop: 9
enter a number to list enter 's' to stop: 1234
enter a number to list enter 's' to stop: 2345
enter a number to list enter 's' to stop: 123456
enter a number to list enter 's' to stop: 87654
enter a number to list enter 's' to stop: 56.65
enter a number to list enter 's' to stop: yyy
enter a number to list enter 's' to stop: 655554444
enter a number to list enter 's' to stop: s
enter n value : 6
6 greatest numbers are:

655554444
123456
87654
2345
1234
56.65

question-7

In [ ]:
l=[]
input_list(l)
print("even numbers in list are: \n")
for i in l:
  if i % 2==0:
    print(i)

enter a number to list enter 's' to stop: 1
enter a number to list enter 's' to stop: 3
enter a number to list enter 's' to stop: 4
enter a number to list enter 's' to stop: 5
enter a number to list enter 's' to stop: 6
enter a number to list enter 's' to stop: 7.4
enter a number to list enter 's' to stop: 2
enter a number to list enter 's' to stop: s
even numbers in list are:

4
6
2

question-8

In [ ]:
l=[]
input_list(l)
print("odd numbers in list are: \n")
for i in l:
  if i % 2!=0:
    print(i)

enter a number to list enter 's' to stop: 1
enter a number to list enter 's' to stop: 2
enter a number to list enter 's' to stop: 3
enter a number to list enter 's' to stop: 4
enter a number to list enter 's' to stop: 5
enter a number to list enter 's' to stop: 5
enter a number to list enter 's' to stop: 6
enter a number to list enter 's' to stop: 7
enter a number to list enter 's' to stop: 8
enter a number to list enter 's' to stop: 9
enter a number to list enter 's' to stop: s
odd numbers in list are:

1
3
5
5
7
9

function to take list as inpt

In [3]:
def input_nested_lists(l):
  while True:
    data=input("enter data into list and enter stop to exit from entering to list: ")
    if (data.upper()=='STOP'):
      break
    l.append(data)

question-9

In [4]:
l=[]
input_nested_lists(l)

res=[]
for i in range(len(l)):
  if l[i]!='[]':
    res.append(l[i])
print("list after deleting empty list {}".format(res))

enter data into list and enter stop to exit from entering to list: 1
enter data into list and enter stop to exit from entering to list: 2
enter data into list and enter stop to exit from entering to list: []
enter data into list and enter stop to exit from entering to list: ["hemanth,"bonala"]
enter data into list and enter stop to exit from entering to list: ["nit,"jalandhar"]
enter data into list and enter stop to exit from entering to list: []
enter data into list and enter stop to exit from entering to list: 3
enter data into list and enter stop to exit from entering to list: []
enter data into list and enter stop to exit from entering to list: mintu
enter data into list and enter stop to exit from entering to list: stop
list after deleting empty list ['1', '2', '["hemanth,"bonala"]', '["nit,"jalandhar"]', '3', 'mintu']

question-10

In [5]:
l=[]
l_dup=[]
input_nested_lists(l)
for i in l:
  l_dup.append(i)

enter data into list and enter stop to exit from entering to list: hemanth
enter data into list and enter stop to exit from entering to list: ["bonala"]
enter data into list and enter stop to exit from entering to list: ["nit"]
enter data into list and enter stop to exit from entering to list: jalandhar
enter data into list and enter stop to exit from entering to list: 3+4j
enter data into list and enter stop to exit from entering to list: 1
enter data into list and enter stop to exit from entering to list: stop

In [6]:
l_dup

['hemanth', '["bonala"]', '["nit"]', 'jalandhar', '3+4j', '1']

In [7]:
id(l)

140220736144800

In [8]:
id(l_dup)

140220736146080

question-11

In [9]:
l=[]
input_nested_lists(l)
ser=input("enter element to count the occurences: ")
count=0
for i in l:
  if i==ser:
    count+=1
print(f"{ser} element is occured {count} times in entered list")

enter data into list and enter stop to exit from entering to list: 1
enter data into list and enter stop to exit from entering to list: 2
enter data into list and enter stop to exit from entering to list: hemanth
enter data into list and enter stop to exit from entering to list: hemanth
enter data into list and enter stop to exit from entering to list: hemanth
enter data into list and enter stop to exit from entering to list: mintu
enter data into list and enter stop to exit from entering to list: []
enter data into list and enter stop to exit from entering to list: ]
enter data into list and enter stop to exit from entering to list: hemanth
enter data into list and enter stop to exit from entering to list: 3
enter data into list and enter stop to exit from entering to list: 4
enter data into list and enter stop to exit from entering to list: 5
enter data into list and enter stop to exit from entering to list: hemanth
enter data into list and enter stop to exit from entering to list: stop
enter element to count the occurences: hemanth
hemanth element is occured 5 times in entered list