In [ ]:
# q1
number=int(input("enter a number for finding factorial: "))
factorial=1
for i in range(1,number+1):
  factorial *= i
print("the factorial of {} is {}".format(number,factorial))

enter a number for finding factorial: 5
the factorial of 5 is 120

In [ ]:
# q2
num=int(input("enter a number to display its multiplication table: "))
for i in range(1,11):
  print("{} x {}  = {}".format(num,i,num*i))

enter a number to display its multiplication table: 5
5 x 1  = 5
5 x 2  = 10
5 x 3  = 15
5 x 4  = 20
5 x 5  = 25
5 x 6  = 30
5 x 7  = 35
5 x 8  = 40
5 x 9  = 45
5 x 10  = 50

In [11]:
# q3
a=0
b=1
n=int(input("enter no.of values you want to print from fibonacci series: "))
i=0
print("the first n values of fibonacci series are: ")
print()
print(a)
print(b)
while i<n-2:
  c=a+b
  print(c)
  b=c
  a=b
  i+=1

enter no.of values you want to print from fibonacci series: 7
the first n values of fibonacci series are:

0
1
1
2
4
8
16

In [ ]:
# q4
num=int(input("enter number to check for armstrong number or not: "))
temp=num
digits=0
while num >0:
  digits+=1
  num =int(num/10)
sum=0
num=temp
while num > 0:
  rem=num % 10
  sum=sum + rem**digits
  num=int(num/10)
if sum == temp :
   print("the entered number is armstrong number")
else:
  print("the entered number is not an armstrong number")

enter number to check for armstrong number or not: 12
the entered number is not an armstrong number

In [6]:
# q5
low=int(input("enter lower boundary: "))
hig=int(input("enter higher boundary: "))
print("armstrong numbers among the given range are: ")
for num in range(low,hig+1):
   temp=num
   digits=0
   while num >0:
     digits+=1
     num =int(num/10)
   sum=0
   num=temp
   while num > 0:
      rem=num % 10
      sum=sum + rem**digits
      num=int(num/10)
   if sum == temp :
      print(temp)

enter lower boundary: 100
enter higher boundary: 1000
armstrong numbers among the given range are:
153
370
371
407

In [5]:
# q6
n=int(input("enter the n value : "))
sum=((n)*(n+1))/2
print("sum of first {} natural numbers is {}".format(n,sum))

enter the n value : 5
sum of first 5 natural numbers is 15.0