In [ ]:
# q1
km=float(input("enter distance in kilometers: "))
miles=km*0.621371
print()
print("{} kilomenters is equal to {} miles".format(km,miles))

enter distance in kilometers: 15

15.0 kilomenters is equal to 9.320565 miles

In [ ]:
# q2
celsius=float(input("enter temperature in celsius: "))
fah=((9*celsius)/5)+32
print()
print("then temperature in fahrenheit is {}".format(fah))

enter temperature in celsius: 42

then temperature in fahrenheit is 107.6

In [ ]:
# q3
import calendar

print("enter 1 to display monthly calender and 2 to display calendar of whole year")
option=int(input("enter your option: "))
if option == 1:
  year=int(input("enter year: "))
  month=int(input("enter month number i.e, 1 for jan ,2 for feb etc: "))
  print(calendar.month(year,month))
elif option==2:
  year=int(input("enter year: "))
  print(calendar.calendar(year))
else:
  print("invalid option")

enter 1 to display monthly calender and 2 to display calendar of whole year
enter your option: 2
enter year: 2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [ ]:
# q4
a=float(input("enter coefficient of x**2: "))
b=float(input("enter coefficient of x: "))
c=float(input("enter constant: "))


root1=(-b + (b**2-4*a*c)**(1/2))/2*a
root2=(-b - (b**2-4*a*c)**(1/2))/2*a
print("the roots of given equation are  {} and {} ".format(root1,root2) )

enter coefficient of x**2: 1
enter coefficient of x: 4
enter constant: 5
the roots of given equation are  (-2+1j) and (-2-1j)

In [ ]:
# q5
print("enter two values to swap")
num1=int(input("enter 1st integer: "))
num2=int(input("enter 2nd integer: "))
num1,num2=num2,num1
print("after swapping 1st integer is ",num1)
print("after swapping 2nd integer is ",num2)

enter two values to swap
enter 1st integer: 5
enter 2nd integer: 4
after swapping 1st integer is  4
after swapping 2nd integer is  5